body { background-color:#1E1E1E; }
pre .nocode { background-color: none; color: #1E1E1E }

code.prettyprint,
pre.prettyprint{background-color:#1E1E1E; border-radius:8px}
pre.prettyprint{width:95%; margin:1em auto; padding:1em; white-space:pre-wrap}

pre .str { color: #ce9178 } /* string  */
pre .kwd { color: #569cd6; font-weight: bold }
pre .com { color: #6A9955 } /* comment - skyblue */
pre .typ { color: #9cdcfe } /* type    */
pre .lit { color: #b5cea8 } /* literal */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ce9178 } /* attribute value */
pre .dec { color: #b5cea8 } /* decimal   */
pre .dir { color: #C586C0 } /* directive   */
pre a {
  -webkit-transition: all .3s;
   -moz-transition: all .3s;
   transition: all .3s;
   color: inherit; 
   font-weight: bold;
}
pre a:link {
  text-decoration: none;
}
pre a:hover {
  text-decoration: underline;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
  pre .dir, code .dir { color: #C586C0 }
}
