:root {
  --link-color: #062c33;
  --box-bg: #d1ecf1;
  --hot-pink: rgb(253, 18, 121);
  --sm-link-color: rgb(33, 171, 217);
}
a {
  color:var(--link-color);
  font-weight:400;
  text-decoration:none;

  &:hover {
    color: var(--hot-pink);
  }
}
a small {
  font-size:11px;
  color:var(--sm-link-color);
  margin-top:-0.6em;
  display:block;
}
.navitem {
  background-color: transparent;
}
.navitem a {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  font-weight: 700;
}
.navitem a:hover, a:focus, a:active {
  font-weight: bold;
  color: var(--hot-pink);
}
.box-shadow {
    box-shadow: 0 1px 1px rgba(27,31,35,.1)!important;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-tutorial {
  line-height: 1.25;
  font-size: 13px;
  color: #0c5460;
  background-color: var(--box-bg);
  border-color: #bee5eb;
  margin-bottom: -1px;
  border-radius: 3px;
  border-bottom: 1px solid #e1e4e8;
  border: 1px solid #d1d5da;
  border-bottom-color: rgb(209, 213, 218);
  border-box;
  display: block;
  box-sizing: border-box;
  padding: 8px 16px;
}
.alert-tutorial hr {
  border-top-color: #abdde5;
}
.alert-tutorial a {
  color: var(--link-color);
  font-weight: 700;
}
.alert-tutorial a:hover {
  font-weight: bold;
  text-decoration: underline;
  color: var(--hot-pink);
}
